html:root {
    font-family: Arial, Helvetica, sans-serif;
    --table-hdr-clr: rgb(217, 186, 252);
    --btn-primary-clr:  rgb(136, 34, 253);
    --btn-hover-primary-clr:  rgb(136, 34, 253, 0.8);
}

body {
    margin: 0;
}

.content {
    margin: 30px 25px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: auto;
    background-color: rgb(192, 140, 252);
    padding: 0px 20px;
}

/*Text styles */
h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 900;
}

h2 {
    margin: 0;
}

.modal-title {
    font-size: 14px;
    text-align: center;
}

/* Table elements */
table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

th {
    padding: 7px 20px;
    background-color: var(--table-hdr-clr);
    color: #1e1e1e;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: uppercase;
}

td {
    padding: 10px 20px;
    font-size: 12px;
}

/* Buttons */
button {
    cursor: pointer;
    padding: 5px 12px;
    border: none;
    font-size: 10px;
    border-radius: 10px;
    background-color: var(--btn-primary-clr);
    color: #f6f6f6;
    font-weight: 900;
}

#new-book {
    padding: 8px 15px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    background-color: var(--btn-primary-clr);
    color: #f6f6f6;
    font-weight: 900;
    float: right;
    margin-bottom: 8px;
}

button:hover, #new-book:hover, #modal-button:hover {
    background-color: var(--btn-hover-primary-clr);

}

/* Modal elements */

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}

#modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid gray;
    max-width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

#modal-header {
    margin: 10px;
}

#modal-body {
    margin: 20px 0px 0px 0px;
}

#modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#modal-button {
    padding: 8px 15px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    background-color: var(--btn-primary-clr);
    color: #f6f6f6;
    font-weight: 900;
}

label {
    font-size: 11px;
    font-weight: 500;
}

input[type="text"]:focus, input[type="number"]:focus {
    outline: 1px solid var(--btn-hover-primary-clr);
    box-shadow: 1px 1px 2px var(--btn-hover-primary-clr);
}


input[type="text"], input[type="number"] {
    width: 100%;
    height: 25px;
    padding: 5px;
    font-size: 12px;
    margin: 2px 0px 10px 0px;
    border-radius: 3px;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"]:focus {
    outline: none;
}


.label-input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

#is-read {
    margin-right: 5px;
    accent-color: var(--btn-primary-clr);
    border-radius: 3px;
    width: 15px;
    height: 15px;
}

#close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    color: #2f2f2f;
    float: right;
    padding: 5px;
    border-radius: 50%;
}

#close:hover {
    background-color: rgb(216, 216, 216, 0.6);
}